<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aiwac.admin.com.healthrobot">

    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- skin -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- skin -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name=".HealthRobotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.loginandregister.LoginActivity" />
        <activity android:name=".activity.loginandregister.RegisterActivity"/>
        <activity android:name=".activity.loginandregister.ConnectWifiActivity" />
        <activity android:name=".activity.voicechat.VoiceChatActivity" />
        <activity android:name=".activity.voicechat.WaitChatActivity" />
        <activity android:name=".activity.setting.PersonInfoActivity" />
        <activity android:name=".activity.setting.SettingActivity" />
        <activity android:name=".activity.setting.AboutActivity" />
        <activity android:name=".activity.voiceregister.VoiceRegisterActivity"></activity>
        <activity android:name=".activity.voiceregister.RegisterHistoryActivity"></activity>
        <!-- skin activities -->
        <activity android:name=".activity.skin.BeautyResultActivity" />
        <activity android:name=".activity.skin.BaseActivity" />
        <activity android:name=".activity.skin.CameraActivity" />
        <activity android:name=".activity.skin.TestHelpActivity" />
        <activity android:name=".activity.skin.DetectProcessActivity" />
        <activity android:name=".activity.skin.SkinMainActivity" />
        <activity
            android:name=".activity.skin.AlarmActivity"
            android:theme="@style/ActivityDialog"
            android:launchMode="singleTop"></activity>

        <!--<receiver-->
            <!--android:name=".receiver.AlarmReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" />-->

    </application>

</manifest>