<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aiwac.admin.com.healthrobot">
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- skin -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- skin -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 语音识别 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".HealthRobotApplication"
        android:allowBackup="true"
        android:icon="@drawable/aiwac"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.loginandregister.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.loginandregister.RegisterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.loginandregister.ConnectWifiActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.voicechat.VoiceChatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.voicechat.WaitChatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.setting.PersonInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.setting.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.setting.AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.voiceregister.VoiceRegisterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.voiceregister.RegisterHistoryActivity"
            android:screenOrientation="landscape" /> <!-- skin activities -->
        <activity
            android:name=".activity.skin.BeautyResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.skin.BaseActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.skin.CameraActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.skin.TestHelpActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.skin.DetectProcessActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.skin.SkinMainActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.skin.AlarmActivity"
            android:launchMode="singleTop"
            android:theme="@style/ActivityDialog" />
        <activity
            android:name=".activity.speechrecog.SpeechRecogActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.medicalexam.MedicalExamRecommendActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.medicalexam.MedicalExamDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.medicalexam.MedicalExamMenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.notification.NotificationActivity"
            android:screenOrientation="landscape" /> <!-- lecture -->
        <activity
            android:name=".activity.lecture.LectureAudioDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.lecture.LectureArticleDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.lecture.LectureVideoDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.lecture.LectureActivtiy"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.lecture.LectureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.lecture.LectureAudioPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.healthweeklyreport.HealthWeeklyReportActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".service.SpeechRecogService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.WebSocketService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.RobotControlService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>